commands:
  01_create_venv:
    command: |
      if [ ! -d "/var/app/staging/venv" ]; then
        python3 -m venv /var/app/staging/venv
      fi
  02_install_dependencies:
    command: |
      /var/app/staging/venv/bin/pip install --upgrade pip
      /var/app/staging/venv/bin/pip install -r /var/app/staging/requirements.txt
